button {
    border:0;
}

.btn__wrap {
    @include flexBox(row, flex-start, center);

    .btn {
        &:only-child {
            margin-left: 0;
        }
    }
}

.btn {
    @include flexBox(row, center, center);
    width: auto;
    min-height:48px;
    padding: 0 20px;
    margin:0 0 0 10px;
    border:0;
    border-radius: 30px;
    // color:rgba(255,255,255,0.5);
    font: {
        size:16px;
        weight:600;
    }
    background-color: #999;
    cursor: pointer;
    
    &.btn-yellow {
        background-color:$point-color-yellow;
    }
    &.btn-purple {
        background-color:$point-color-purple;
    }
}

.btn-scroll {
    @include positionF(3);
    bottom:10%;
    right:14%;
    @include flexBox(row, center, center);
    width:45px;
    height:45px;
    min-height: auto;
    padding:0;
    margin:0;
    border-radius: 50%;
    font: {
        size:12px;
        weight:600;
    }
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition:$basic-transition;
}

.on-scroll {
    .btn-scroll {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}