/**
*============
* commons
*============
*/

* {
    color:#fff;
    font: {
        size:16px;
        family: 'SUIT', 'sans-serif';
        // family: ‘GmarketSans’, sans-serif;
        // family: ‘Malgun Gothic’, sans-serif;
        weight:300;
    }
}
body {
    overflow-x: hidden;
}
.txt-emphasize {
    font: {
        weight:700;
    }
    &.--yellow {
        color:$point-color-yellow;
    }
    &.--purple {
        color:$point-color-purple;
    }
}

//skip navigation
.skip-nav {
    a {
        @include positionF(1000);
        top:-500px;
        left: -9999px;
        display: block;
        height: 40px;
        width: 150px;
        border-radius: 3px;
        color:#fff;
        font-size: 16px;
        line-height: 38px;
        text-align: center;
        background-color:#000;

        &:focus {
            top:0;
            left: 0;
        }
    }
}

//title
h2 {
    margin-bottom: 55px;
    font: {
        size:42px;
        weight:700;
    }
    letter-spacing: -0.5px;

    &::before {
        @include pseudoSelector(15px, 15px);
        content:'"';
        margin:-8px 10px 0 0;
        color:#fff;
        font-size:42px;
        vertical-align: top;
    }
}

//tabs
.tab {
    .tab__menu-wrap {
        border-bottom: 2px solid #2e2e2e;
    }

    .tabs__menu {
        min-width: 200px;
        padding:20px 30px;
        border-radius: 0;
        color:#3c3c3c;
        font: {
            size:22px;
            weight:700;
        }
        background-color: transparent;
        transition:$basic-transition;

        &.active {
            color:#fff;
            border-bottom: 2px solid $global-white-color;
        }
    }

    .tabs__cont {
        display: none;
        min-height: 500px;
        margin:65px 30px 15px;
        padding:50px;
        border:2px solid #3f3f3f;
        border-radius: 30px;
        transition:$basic-transition;
        
        &.active {
            display: block;
        }
    }
}