extends modalFrame

block content
    .modal__cont#modalVoc
        .modal__desc 
            ul 
                li 
                    strong.project__name VOC/멤버십 사이트 
                li 
                    dl.project__client 
                        dt 고객 :
                        dd 롯데호텔 / 신한라이프 / 하이트진로 / 교보생명 / 롯데카드 / 스타벅스 / 삼성라이온즈 / 롯데월드 등 다수 
                li 
                    dl.project__period  
                        dt 퍼블리싱 작업 기간 :
                        dd 2016.04 ~ 현재
                li 
                    dl.project__type  
                        dt 프로젝트 종류 :
                        dd WEB /  퍼블리싱 100% 기여 
                li 
                    dl.project__description 
                        dt 프로젝트 상세 :
                        dd 
                            ul
                                li Jsp 파일 내 HTML5/CSS3+SASS/Jquery 유연하고 유지보수 용이한 admin 사이트 구축.
                                li Jquery/javascript를 사용해 tab/quickmenu/slide 등 동적인 UI구현.
                                li Highchart, Swiper 등 라이브러리 활용.
                                li IE8 ~ IE11, window7, Edge, Chrome, Firefox 등 다양한 브라우저 크로스 브라우징.
                                li WSC 웹표준 준수.
                                li PSD, Zeplin로 디자인 시안 공유.
                                li SVN, Jira를 통한 협업 및 프로젝트 관리 진행.
        .modal__visual
            span.img 
                img(src="img/works_voc.png", alt="VOC/Membership site")

    .modal__cont#modalLottehotel
        .modal__desc 
            ul 
                li 
                    strong.project__name 롯데호텔 멤버십 사이트 
                li 
                    dl.project__client 
                        dt 고객 :
                        dd 롯데호텔
                li 
                    dl.project__period  
                        dt 퍼블리싱 작업 기간 :
                        dd 2020.08 ~ 10(약 한달 반)
                li 
                    dl.project__type  
                        dt 프로젝트 종류 :
                        dd WEB /  퍼블리싱 100% 기여 
                li 
                    dl.project__description 
                        dt 프로젝트 상세 :
                        dd 
                            ul
                                li HTML5/CSS3+SASS/Jquery 유연하고 탄탄한 반응형 사이트 구축.
                                li Sementic UI 프레임워크 사용을 통해 일관된 form Elements 구현.
                                li 이미지 파일 압축 전달로 웹사이트 최적화 지원.
                                li IE10 ~, Edge, Chrome, Firefox, ioc/Android 등 다양한 환경/기기 크로스 브라우징.
                                li WSC 웹표준 및 웹접근성 준수.
                                li Zeplin로 디자인 시안 공유.
                                li SVN, Jira를 통한 협업 및 프로젝트 관리 진행.
        .modal__visual
            span.img 
                img(src="img/works_lottehotel2.png", alt="lottehotel Membership site")
    .modal__cont#modalStarbucks
        .modal__desc 
            ul 
                li 
                    strong.project__name 스타벅스 앱 
                li 
                    dl.project__client 
                        dt 고객 : 
                        dd 스타벅스코리아
                li 
                    dl.project__period  
                        dt 퍼블리싱 작업 기간 :
                        dd 2017.10 / 2020.02(17:스토어케어,고객의소리/20:FAQ)
                li 
                    dl.project__type  
                        dt 프로젝트 종류 :
                        dd Hybrid Application /  퍼블리싱 100% 기여
                li 
                    dl.project__description 
                        dt 프로젝트 상세 :
                        dd 
                            ul
                                li HTML5/CSS3/Jquery를 사용해 다양한 디바이스 지원을 위한 유연한 페이지 제작.
                                li IOS/Android 등 다양한 환경/기기 크로스 브라우징.
                                li WSC 웹표준 준수.
                                li PSD로 디자인 시안 공유.
                                li SVN 프로젝트 관리 진행.
        .modal__visual
            span.img 
                img(src="img/works_starbucks.png", alt="starbucks application")
    .modal__cont#modalSamsungFrm
        .modal__desc 
            ul 
                li 
                    strong.project__name 삼성라이온즈 멤버십 앱 
                li 
                    dl.project__client 
                        dt 고객 : 
                        dd 삼성 라이온즈
                li 
                    dl.project__period  
                        dt 퍼블리싱 작업 기간 :
                        dd 2017.03 ~ 2020.02(17년 부터 매년 상반기 1~2주 작업)
                li 
                    dl.project__type  
                        dt 프로젝트 종류 :
                        dd Hybrid Application /  퍼블리싱 100% 기여
                li 
                    dl.project__description 
                        dt 프로젝트 상세 :
                        dd 
                            ul
                                li HTML5/CSS3/Jquery를 사용해 다양한 디바이스 지원을 위한 유연한 페이지 제작.
                                li 유라클 Morpheus 프레임워크 사용.
                                li IOS/Android 등 다양한 환경/기기 크로스 브라우징.
                                li WSC 웹표준 준수.
                                li PSD로 디자인 시안 공유.
                                li SVN 프로젝트 관리 진행.
        .modal__visual
            span.img 
                img(src="img/works_samsung.png", alt="samsunglions application")
    .modal__cont#modalEyesurfer
        .modal__desc 
            ul 
                li 
                    strong.project__name 아이서퍼 소개 사이트 
                li 
                    dl.project__client 
                        dt 고객 : 
                        dd 비플라이 소프트
                li 
                    dl.project__period  
                        dt 퍼블리싱 작업 기간 :
                        dd 2021.12(1주 작업)
                li 
                    dl.project__type  
                        dt 프로젝트 종류 :
                        dd WEB /  퍼블리싱 100% 기여
                li 
                    dl.project__description 
                        dt 프로젝트 상세 :
                        dd 
                            ul
                                li HTML5/CSS3+SASS/javascript/Jquery를 사용해 탄탄한 페이지 제작.
                                li fullpage/anime.js 라이브러리 활용하여 스크롤 인터랙션 랜딩 페이지 구현.
                                li 이미지 파일 압축 전달로 웹사이트 최적화 기여.
                                li WSC 웹표준 준수.
                                li Zeplin로 디자인 시안 공유.
        .modal__visual
            span.img 
                img(src="img/works_eyesurfer.png", alt="eyesurfer landing page site")
    .modal__cont#modalMyportfolio
        .modal__desc 
            ul 
                li 
                    strong.project__name 포트폴리오 사이트
                li 
                    dl.project__period  
                        dt 퍼블리싱 작업 기간 :
                        dd 2021.12 ~ 2022.01
                li 
                    dl.project__type  
                        dt 프로젝트 종류 :
                        dd WEB /  디자인,퍼블리싱 100% 기여
                li 
                    dl.project__description 
                        dt 프로젝트 상세 :
                        dd 
                            ul
                                li PUG(HTML을 효율적이게 쓸 수있는 템플릿 언어)를 활용하여 컴포넌트 단위 개발.(components&lt;utilities&lt;patterns 시스템 세분화/반복되는 요소 재사용) 
                                li CSS3+SASS(BEM/OOCSS)/javascript(ES6)를 사용해 탄탄한 페이지 제작.
                                li Gulp 기반의 개발 환경에서 개발.(babel(transpiling), css/js minify, image optimize)
                                li WSC 웹표준 준수.
        .modal__visual
            span.img 
                img(src="img/works_myportfolio.png", alt="RAMY portfolio site")
    .modal__cont#modalKadochat
        .modal__desc 
            ul 
                li 
                    strong.project__name 강원도민일보 챗봇
                li 
                    dl.project__period  
                        dt 퍼블리싱 작업 기간 :
                        dd 2021.11(1주 작업)
                li 
                    dl.project__type  
                        dt 프로젝트 종류 :
                        dd WEB / 퍼블리싱 100% 기여
                li 
                    dl.project__description 
                        dt 프로젝트 상세 :
                        dd 
                            ul
                                li HTML5/CSS3/Jquery를 사용해 다양한 디바이스 지원을 위한 유연한 페이지 제작.
                                li WSC 웹표준 준수.
                                li Zeplin로 디자인 시안 공유.
                                li SVN을 통한 프로젝트 관리 진행.
        .modal__visual
            span.img 
                img(src="img/works_kado.png", alt="강원도민일보 챗봇")
