extends modalFrame

block content
    .modal__cont#modalVoc
        .modal__desc 
            ul 
                li 
                    strong.project__name VOC/멤버십 사이트 
                li 
                    span.project__client  롯데호텔 / 신한라이프 / 하이트진로 / 교보생명 / 롯데카드 / 스타벅스 / 삼성라이온즈 / 롯데월드 등 다수 
                li 
                    span.project__period  2016.04 ~ 현재
                li 
                    span.project__type WEB / Hybrid Application /  퍼블리싱 100% 기여
                li 
                    span.project__description 
                        | Java 기반의 환경에서 
                        strong.txt-emphasize.--purple Jsp 파일 내 HTML5 마크업 및 스타일링
                        | 작업 진행 하였습니다.
                        | "Metastudio" 라는 자체 UI Framework를 통해 개발자가 서브 화면 개발 하였으며, 
                        | 퍼블리셔는 특이 서브 화면, 메인 화면 위주로 하드 코딩 작업을 했습니다.
                        | 생산성 있는 개발을 위해 공통된 서브 화면은 
                        strong.txt-emphasize.--purple 주요 컴포넌트 항목을 모아 가이드 파일을 제작
                        | 하여 지원 하였습니다.
                        | 반기/년 단위로 가이드를 정비하였고, 프로젝트가 끝난 이후엔 유지보수 기간에 따라 상시 작업 진행 되었습니다.
        .modal__visual
            span.img 
                img(src="", alt="VOC/Membership site")

    .modal__cont#modalLottehotel
        .modal__desc 
            ul 
                li 
                    strong.project__name 롯데호텔 멤버십 사이트 
                li 
                    span.project__client  롯데호텔
                li 
                    span.project__period  2018.
                li 
                    span.project__type WEB - 반응형, 웹표준, 웹접근성 /  퍼블리싱 100% 기여
                li 
                    span.project__description 
                        | Java 기반의 환경에서 
                        strong.txt-emphasize.--purple Jsp 파일 내 HTML 마크업 및 스타일링
                        | 작업 진행 하였습니다.
                        | "Metastudio" 라는 자체 UI Framework를 통해 개발자가 서브 화면 개발 하였으며, 
                        | 퍼블리셔는 특이 서브 화면, 메인 화면 위주로 하드 코딩 작업을 했습니다.
                        | 생산성 있는 개발을 위해 공통된 서브 화면은 
                        strong.txt-emphasize.--purple 주요 컴포넌트 항목을 모아 가이드 파일을 제작
                        | 하여 지원 하였습니다.
                        | 반기/년 단위로 가이드를 정비하였고, 프로젝트가 끝난 이후엔 유지보수 기간에 따라 상시 작업 진행 되었습니다.
        .modal__visual
            span.img 
                img(src="", alt="lottehotel Membership site")
    .modal__cont#modalStarbucks
        .modal__desc 
            ul 
                li 
                    strong.project__name 스타벅스 VOC 앱 
                li 
                    span.project__client  스타벅스
                li 
                    span.project__period  2017.
                li 
                    span.project__type Hybrid APP /  퍼블리싱 100% 기여
                li 
                    span.project__description 
                        | Java 기반의 환경에서 
                        strong.txt-emphasize.--purple Jsp 파일 내 HTML 마크업 및 스타일링
                        | 작업 진행 하였습니다.
                        | "Metastudio" 라는 자체 UI Framework를 통해 개발자가 서브 화면 개발 하였으며, 
                        | 퍼블리셔는 특이 서브 화면, 메인 화면 위주로 하드 코딩 작업을 했습니다.
                        | 생산성 있는 개발을 위해 공통된 서브 화면은 
                        strong.txt-emphasize.--purple 주요 컴포넌트 항목을 모아 가이드 파일을 제작
                        | 하여 지원 하였습니다.
                        | 반기/년 단위로 가이드를 정비하였고, 프로젝트가 끝난 이후엔 유지보수 기간에 따라 상시 작업 진행 되었습니다.
        .modal__visual
            span.img 
                img(src="", alt="lottehotel Membership site")
