section#about.about-section 
    div.container-inner
        h2 About me
        div.about
            div.about__profile
                span.profile-img 
                    img(src="img/profile_ramy2.png", alt="ramy 프로필")
                ul.about__linked-site
                    li 
                        a(href="https://github.com/ramylee-github", target="_blank", title="새 창") Git.
                    li 
                        a(href="https://equality37.tistory.com/", target="_blank", title="새 창") Blog.
                button.btn-purple(type="button") Download CV 
            div.about__introduction
                P 
                    | 안녕하세요! 
                    strong.txt-emphasize.--yellow 함께 일하기 좋은 
                    | 6년 차 웹 퍼블리셔 이보람입니다.
                    | 
                    | 금융/보험사 VOC, 대기업 MEMBERSHIP 퍼블리싱을 도맡아 진행하였고,
                    strong.txt-emphasize.--yellow 반응형 웹, 모바일 앱, 웹 표준, 웹 접근성 사이트 작업 경험
                    |이 있습니다.
                    | 
                    | Gulp 기반의 효율적인 작업 환경에서 웹 표준/웹접근성을 고려하여 
                    strong.txt-emphasize.--yellow 유연하며 탄탄한 UI
                    |를 구축합니다. 
                    | 
                    | 제 작업의 모토는 사용자, 동료 
                    strong.txt-emphasize.--yellow 모두에게 편한 사이트
                    |를 만들자! 입니다.
                    | 작업을 잘 마치고 나면 느끼는 성취감과 결과에 대해 좋은 피드백을 받으면 희열을 느낍니다.
                    | 그 맛에 즐겁게 일하는 것 같습니다. 
                    | 
                    | 특히, 저는 
                    strong.txt-emphasize.--yellow 동료들과의 협업을 소중
                    |하게 여깁니다. 원만한 소통은 좋은 결과물을 만들어 내기 때문입니다.
                    | 그래서 저는 동료들과 의견 나누는 걸 좋아합니다. 
                    | 한 사람보단 여러 사람이 머리를 맞대면 어려운 문제도 빠르게 해결할 수 있으니까요.
                    | 함께 일하는 모두가 중요한 분들이기에 
                    strong.txt-emphasize.--yellow 배려와 긍정의 자세
                    |를 되새기려 항상 노력하고, 성심성의껏 일을 지원합니다.
                    | 
                    | 현재는 유지보수/웹사이트 최적화, 위트있는 UI animation과 React에 관심이 많아 공부를 진행하고 있습니다.
