section#contact.contact-section 
    div.container-inner
        h2 Contact
        div.contact
            p.contact__msg 
                | 제 포트폴리오를 처음부터 끝까지 살펴봐주셔서 감사합니다. 
                br
                | 포트폴리오를 보시고 채용에 긍정적인 인상을 받으셨다면, 
                br
                | 아래 이메일 주소로 연락주세요! 확인 후, 2일 내로 신속히 답변 드리겠습니다. 
            span.contact__email boram1073@gmail.com