header#header.page-header 
    div.header-inner
        h1
            img(src="img/logo_ramy.png", alt="Ramy 로고")
        nav.header-nav
            ul
                li
                    a(href="javascript:;")#navAbout About 
                li
                    a(href="javascript:;")#navResume Resume 
                li
                    a(href="javascript:;")#navWorks Works 
                li
                    a(href="javascript:;")#navContact Contact 