section#resume.resume-section 
    div.container-inner
        h2 Resume
        div.resume
            .tabs 
                .tab__menu-wrap 
                    button(type="button").tabs__menu.active Skils &amp; Tools 
                    button(type="button").tabs__menu Experience &amp; Education
                .tabs__cont.active 1
                .tabs__cont 2