section#resume.resume-section 
    div.container-inner
        h2 Resume
        div.resume
            .tabs 
                .tab__menu-wrap 
                    button(type="button").tabs__menu.active Skils &amp; Tools 
                    button(type="button").tabs__menu Experience &amp; Education
                .tabs__cont.active 
                    dl.resume__item 
                        dt Skills
                        dd 
                            ul 
                                li.skill.skill__html5 
                                    span HTML5
                                li.skill.skill__css3 
                                    span CSS3
                                li.skill.skill__js 
                                    span Javascript
                                li.skill.skill__jquery 
                                    span Jquery
                                li.skill.skill__pug 
                                    span Pug
                                li.skill.skill__sass 
                                    span Sass
                    dl.resume__item 
                        dt Tools
                        dd 
                            ul 
                                li.skill.skill__ps 
                                    span Photoshop
                                li.skill.skill__ai 
                                    span Illustrator
                                li.skill.skill__zeplin 
                                    span Zeplin
                                li.skill.skill__gulp 
                                    span Gulp
                                li.skill.skill__git 
                                    span Git
                                li.skill.skill__npm 
                                    span Npm
                                li.skill.skill__vscode 
                                    span Vs Code
                                li.skill.skill__slack
                                    span Slack
                                li.skill.skill__jira 
                                    span Jira
                .tabs__cont 
                    ul.resume__experiences
                        li 
                            span.period 
                                | 2021.05 ~
                                strong.txt-emphasize.--purple 현재
                                |(21.05 ~ 06 당사 프리랜서 근무)
                            strong.position (주)비플라이소프트 UX팀 프로
                            span.job 퍼블리싱 전담
                            span.projects 롯데호텔 / 신한라이프 / 하이트진로 / 강원도민일보 / 교보생명 / 자사 광고관리자, 아이서퍼 등
                        li 
                            span.period 
                                | 2016.04 ~ 2021.04 (5년)
                            strong.position (주)위고 디자인팀 주임
                            span.job 퍼블리싱 전담
                            span.projects 롯데카드 / 롯데월드 / 스타벅스 / 삼성라이온즈 / 현대,기아자동차 / BATKOREA / 우리카드 / 사람인 / 흥국생명 / OB맥주 / K쇼핑 등 외 다수
                        li 
                            span.period 
                                | 2015.09 ~ 2016.02
                            strong.position 더조은컴퓨터아트학원
                            span.job NCS 모바일 웹/앱 디자인 및 퍼블리싱
                        li 
                            span.period 
                                | 2010.03 ~ 2014.02
                            strong.position 한국교통대학교 졸업
                            span.job 실용영어학 전공
