section#works.works-section 
    div.container-inner
        h2 Works
        div.works
            .tab
                .tab__menu-wrap 
                    button(type="button", data-id="0").tabs__menu.active Pined 
                    button(type="button", data-id="1").tabs__menu All
                .tabs__cont(data-id="0").active 
                   ul.works__list 
                    li.work__lottehotel 
                        span.works__visual 
                            img(src="../img/works_lottehotel.png", alt="롯데호텔 멤버십 사이트")
                        .works__info 
                            ul.works__features 
                                li.features
                                    span #반응형 
                                li.features
                                    span #웹표준 
                                li.features
                                    span #웹접근성 
                                li.features
                                    span #SASS 
                                li.features
                                    span.txt-emphasize.--purple #현재서비스중 
                            h3 롯데호텔 멤버십 사이트
                        .btn__wrap 
                            a.btn.btn-purple(href="https://lottehotelmembership.lottehotel.com/screen/FRT0001.ub", target="_blank", title="새 창") Link
                            button(type="button").btn.btn-yellow Detail
                    li.work__starbucks
                        span.works__visual 
                            img(src="../img/works_starbucks.png", alt="스타벅스 application")
                        .works__info 
                            ul.works__features 
                                li.features
                                    span #하이브리드 App 
                                li.features
                                    span.txt-emphasize.--purple #현재서비스중 
                            h3 스타벅스 Application
                                span.extra__info (앱 내 스토어 케어, 고객센터 메뉴)
                        .btn__wrap 
                            a(href="https://play.google.com/store/apps/details?id=com.starbucks.co&hl=ko&gl=US", target="_blank", title="새 창").btn.btn-purple Link(Android)
                            a(href="https://apps.apple.com/kr/app/%EC%8A%A4%ED%83%80%EB%B2%85%EC%8A%A4/id466682252", target="_blank", title="새 창").btn.btn-purple Link(IOS)
                            button(type="button").btn.btn-yellow Detail
                    li.work__samsunglions 
                        span.works__visual 
                            img(src="../img/works_samsung.png", alt="삼성라이온즈 application")
                        .works__info 
                            ul.works__features 
                                li.features
                                    span #하이브리드 App 
                                li.features
                                    span.txt-emphasize.--purple #현재서비스중 
                            h3 삼성라이온즈 멤버십 Application
                        .btn__wrap 
                            a(href="https://play.google.com/store/apps/details?id=com.samsunglions.FRM&hl=ko&gl=US", target="_blank", title="새 창").btn.btn-purple Link(Android)
                            a(href="https://apps.apple.com/kr/app/%EC%82%BC%EC%84%B1%EB%9D%BC%EC%9D%B4%EC%98%A8%EC%A6%88-%EB%AA%A8%EB%B0%94%EC%9D%BC-%EC%95%B1/id1087226139", target="_blank", title="새 창").btn.btn-purple Link(IOS)
                            button(type="button").btn.btn-yellow Detail
                    li.work__eyesurfer 
                        span.works__visual 
                            img(src="../img/works_eyesurfer.png", alt="아이서퍼 소개 사이트")
                        .works__info 
                            ul.works__features 
                                li.features
                                    span #웹표준 
                                li.features
                                    span #SASS 
                                li.features
                                    span #Scroll interactions 
                            h3 아이서퍼 소개 사이트
                                span.extra__info (싱글 랜딩 페이지)
                        .btn__wrap 
                            a(href="#", target="_blank", title="새 창").btn.btn-purple Link
                            button(type="button").btn.btn-yellow Detail
                .tabs__cont(data-id="1")
                    ul.works__list 
                        li.work__myPortfolio 
                            span.works__visual 
                                img(src="../img/works_myportfolio.png", alt="포트폴리오 사이트")
                            .works__info 
                                ul.works__features 
                                    li.features
                                        span #반응형 
                                    li.features
                                        span #웹표준 
                                    li.features
                                        span #웹접근성 
                                    li.features
                                        span #Gulp환경(SASS, PUG) 
                                h3 포트폴리오 사이트
                            .btn__wrap 
                                button(type="button").btn.btn-yellow Detail
                        li.work__lottehotel 
                            span.works__visual 
                                img(src="../img/works_lottehotel.png", alt="롯데호텔 멤버십 사이트")
                            .works__info 
                                ul.works__features 
                                    li.features
                                        span #반응형 
                                    li.features
                                        span #웹표준 
                                    li.features
                                        span #웹접근성 
                                    li.features
                                        span #SASS 
                                    li.features
                                        span.txt-emphasize.--purple #현재서비스중 
                                h3 롯데호텔 멤버십 사이트
                            .btn__wrap 
                                a.btn.btn-purple(href="https://lottehotelmembership.lottehotel.com/screen/FRT0001.ub", target="_blank", title="새 창") Link
                                button(type="button").btn.btn-yellow Detail
                        li.work__starbucks 
                            span.works__visual 
                                img(src="../img/works_starbucks.png", alt="스타벅스 application")
                            .works__info 
                                ul.works__features 
                                    li.features
                                        span #하이브리드 App 
                                    li.features
                                        span.txt-emphasize.--purple #현재서비스중 
                                h3 스타벅스 Application
                                    span.extra__info (앱 내 스토어 케어, 고객센터 메뉴)
                            .btn__wrap 
                                a(href="https://play.google.com/store/apps/details?id=com.starbucks.co&hl=ko&gl=US", target="_blank", title="새 창").btn.btn-purple Link(Android)
                                a(href="https://apps.apple.com/kr/app/%EC%8A%A4%ED%83%80%EB%B2%85%EC%8A%A4/id466682252", target="_blank", title="새 창").btn.btn-purple Link(IOS)
                                button(type="button").btn.btn-yellow Detail
                        li.work__samsunglions 
                            span.works__visual 
                                img(src="../img/works_samsung.png", alt="삼성라이온즈 application")
                            .works__info 
                                ul.works__features 
                                    li.features
                                        span #하이브리드 App 
                                    li.features
                                        span.txt-emphasize.--purple #현재서비스중 
                                h3 삼성라이온즈 멤버십 Application
                            .btn__wrap 
                                a(href="https://play.google.com/store/apps/details?id=com.samsunglions.FRM&hl=ko&gl=US", target="_blank", title="새 창").btn.btn-purple Link(Android)
                                a(href="https://apps.apple.com/kr/app/%EC%82%BC%EC%84%B1%EB%9D%BC%EC%9D%B4%EC%98%A8%EC%A6%88-%EB%AA%A8%EB%B0%94%EC%9D%BC-%EC%95%B1/id1087226139", target="_blank", title="새 창").btn.btn-purple Link(IOS)
                                button(type="button").btn.btn-yellow Detail
                        li.work__kadochat 
                            span.works__visual 
                                img(src="../img/works_kado.png", alt="강원도민일보 사이트")
                            .works__info 
                                ul.works__features 
                                    li.features
                                        span #chatbot 
                                    li.features
                                        span.txt-emphasize.--purple #현재서비스중 
                                h3 강원도민일보 Chatbot 서비스
                            .btn__wrap 
                                a(href="http://www.kado.net/", target="_blank", title="새 창").btn.btn-purple Link
                                button(type="button").btn.btn-yellow Detail
                        li.work__eyesurfer 
                            span.works__visual 
                                img(src="../img/works_eyesurfer.png", alt="아이서퍼 소개 사이트")
                            .works__info 
                                ul.works__features 
                                    li.features
                                        span #웹표준 
                                    li.features
                                        span #SASS 
                                    li.features
                                        span #Scroll interactions 
                                h3 아이서퍼 소개 사이트
                                    span.extra__info (싱글 랜딩 페이지)
                            .btn__wrap 
                                a(href="#", target="_blank", title="새 창").btn.btn-purple Link
                                button(type="button").btn.btn-yellow Detail
                        li.work__voc 
                            span.works__visual 
                                img(src="", alt="VOC 대시보드")
                            .works__info 
                                ul.works__features 
                                    li.features
                                        span #웹표준 
                                    li.features
                                        span #Gulp환경(SASS, PUG)
                                h3 40여개 이상의 VOC/Membership 사이트
                                    span.extra__info (Code developed ver. sample)
                            .btn__wrap 
                                a(href="#", target="_blank", title="새 창").btn.btn-purple Link
                                button.btn.btn-yellow(type="button") Detail
