/**
*================
* about section
*===============
*/
.about-section {
    @include positionR(1);
}
.about {
    @include flexBox(row, center, flex-start);
}
.about__linked-site {
    @include flexBox(row, center, center);
    margin:23px 0 20px;

    li {
        margin-right:25px;

        &:last-child {margin-right:0;}
    }

    a {
        @include positionR(1);
        font-weight:700;
        
        &::after {
            @include positionA(2);
            left: 0;
            bottom:-3px;
            @include pseudoSelector(100%, 1px);
            transition:transform .3s ease-in-out;
            transform-origin: 100% 50%;
            transform: scaleX(0);
            background-color: $global-white-color;
        }
        
        &:hover {
            &::after {
                transform-origin: 0 50%;
                transform: scaleX(1);
               
            }
        }
    }
}

.about__profile {
    margin:0 58px 0 105px;
}
.about__introduction {
    min-height: 476px;
    padding:35px;
    border:1px solid #3f3f3f;
    border-radius:10px;
    white-space:pre-line;
    line-height: 24px;
    transition: $basic-transition;
}

.profile__name {
    margin-top:30px;
    font: {
        size:36px;
        weight:700;
    }
}

.profile__job {
    margin-top:15px;
    font: {
        size:18px;
        weight:500;
    }
}