/**
*================
* main section
*===============
*/


.profile {
    height: 100vh;
    @include positionR(1);
    
    .profile__wrap {
        @include positionR(3);
        @include flexBox(column, center, center);
        height: calc(100vh - 100px);
    }
    .front-item {
        @include positionA(2);
        color:#42c9ad;
        font: {
            size:13px;
            weight:700;
        };
    }
}

.profile__name {
    margin-top:30px;
    font: {
        size:36px;
        weight:700;
    }
}

.profile__job {
    margin-top:15px;
    font: {
        size:18px;
        weight:500;
    }
}