/**
*================
* main section
*===============
*/


.profile {
    height: 100vh;
    @include positionR(1);
    
    .profile__wrap {
        @include positionR(3);
        @include flexBox(column, center, center);
        height: calc(100vh - 100px);

        @include mobile {
            img {
                width: 45%;
            }
        }
    }
    .front-item {
        @include positionA(2);
        color:#42c9ad;
        font: {
            size:1.3rem;
            weight:700;
        }
    }
}

.profile__name {
    margin-top:30px;
    font: {
        size:36px;
        weight:700;
    }

    @include mobile {
        font-size: 2.2rem;
    }
}

.profile__job {
    margin-top:15px;
    font: {
        size:18px;
        weight:500;
    }
    @include mobile {
        margin-top:8px;
        font-size: 1.2rem;
    }
}