extends templates/layout

block content 
    div.bg-star
    section.top-section
        h2.main-title 
            div L
            div a
            div n
            div d
            div i
            div n
            div g
            span &nbsp;
            div a
            div t
            span &nbsp;
            div R
            div A
            div M
            div Y
            div &#39;
            div s
            div P
            div l
            div a
            div n
            div e
            div t
    section.btm-section     
        h2.blind 실 컨텐츠 영역
        div.planet-wrap
            ul.planet__object-list
                li
    button.top-btn TOP

    